<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->
    <property name="LOG_DIR" value="/var/logs/fraud/consumer" /> 
    
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
        <file>${LOG_DIR}/app.log</file> 
        <encoder> 
            <pattern>%date %level [%file : %line] %msg%n  </pattern> 
        </encoder> 
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.%i.zip
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <logger name="fraudapi" level="DEBUG"> 
        <appender-ref ref="logfile" additivity="true" /> 
    </logger> 
    <!--    <root level="OFF">
        <appender-ref ref="logfile" />
    </root>-->
</configuration>