/New Folder/.nb-gradle/
/insertLocation/nbproject/
/New Folder/build/
/insertLocation/target/
/New Folder/TestLog/target/
/TestLog/target/
/New Folder/HelloSpring/target/
/New Folder/Spring/nbproject/private/
/New Folder/Spring/build/
/New Folder/SpringProject/nbproject/private/
/JavaApplication1/build/
/New Folder/testlogMVC/target/
/New Folder/mvcSimple/nbproject/private/
/New Folder/mvcSimple/build/
/VNPayDemo/target/
/VNPay/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/