/New Folder/.nb-gradle/
/insertLocation/nbproject/
/New Folder/build/
/insertLocation/target/
/New Folder/TestLog/target/
/TestLog/target/
/New Folder/HelloSpring/target/
/New Folder/Spring/nbproject/private/
/New Folder/Spring/build/
/New Folder/SpringProject/nbproject/private/