<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- <property name="LOG_DIR" value="/var/logs" /> -->
    <appender name="logfileWrite" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder> 
            <pattern>%date %level [%file : %line] %msg%n  </pattern> 
        </encoder> 
    </appender>
    <appender name="logFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/WriteInSheet.log</file> 
        <encoder> 
            <pattern>%date %level [%file : %line] %msg%n  </pattern> 
        </encoder> 
    </appender>
    <logger name="logback" level="info"> 
        <appender-ref ref="logfileWrite" additivity="true" /> 
        <appender-ref ref="logFile" additivity="true" /> 
    </logger> 
    
</configuration>